@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("blackjack_table.jpg");
    background-position: center;
    background-size: cover;
    height: 1300px;
}

body,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2,
h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 23px;
    text-align: center;
}

.dealer,
.player {
    height: 110px;
    width: 800px;
    /* border: 1px solid black; */
}

.dealer-player {
    margin-top: 70px;
}

.text {
    font-size: 22px;
    font-family: 'Bungee Inline', cursive;
    color: purple;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#player_cards,
#dealer_cards {
    text-align: center;
    margin-top: 100px;
}

/* styling for buttons */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #0047AB;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #0BDA51;
}

#hit_btn {
    width: 7%;
}
#deal_btn {
    width: 7%;
}

/* card images */

#dealer_cards img,
#player_cards img {
    height: 100px;
    width: 80px;
    margin: 1px;
    margin-top: -40px;
}