*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2,
h3 {
    font-size: 20px;
    text-align: center;
}

header {
    margin-top: 60px;
    margin-bottom: 50px;
}

.dealer,
.player {
    height: 300px;
    width: 650px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    /* border: solid 1px black; */
}

.text {
    font-size: 20px;
    text-align: center;
}

#player_cards,
#dealer_cards {
    text-align: center;
    margin-top: 100px;
}

/* styling for buttons */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

#dealer_cards img,
#player_cards img {
    height: 140px;
    width: 100px;
    margin: 1px;
    margin-top: -40px;
}